.axis .tick line{
  visibility:hidden;
}

.axis {
	font: 14px roboto;
}

.axis text {
	fill: #949494;
}

.grid line {
  stroke: #949494;;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.view {
	fill: #000;
	pointer-events: all,
}


.focus circle {
  fill: #fff;
  stroke: #fff;
}

.focus text {
	fill: #fff;
	font: 12px roboto;
}

.hover-line {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}