.axis .tick line{
  visibility:hidden;
}

.axis {
	font: 14px roboto;
}

.axis text {
	fill: #949494;
}

.grid line {
  stroke: #949494;;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.view {
	fill: #000;
	pointer-events: all,
}


.focus circle {
  fill: #fff;
  stroke: #fff;
}

.focus text {
	fill: #fff;
	font: 12px roboto;
}

.hover-line {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.timeperiod-control {
	width: 923px;
	margin: 0 auto;
}

.timeperiod {
	cursor: pointer;
	display: inline-block;
	width: 12.2%;
	text-align: center;
	border-left: 2px solid #949494;
	&:last-child {
		border-right: 2px solid #949494;
	}
}

.active {
	color: #fff;
}

.headlines {
	width: 990px;
	margin: 0 auto;
}

.headline {
	padding: 14px 0;
}

.title {
	color: #fff;
	font-size: 20px;
}

.description {
	font-size: 14px;
}

.description {
	max-height: 57px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
}