html {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
body {
	background-color: #2f3136;
	color: #949494;
	margin: 0;
}

#app {
	width: 1000px;
	padding-top: 40px;
	background-color: #36393e;
	margin: 0 auto;
	min-height: 100vh;
}