.list-wrapper {
	overflow-x: scroll;
	white-space: nowrap;
	&::-webkit-scrollbar {
		height: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		width: 56px;
	}
}

.header {
	border-left: 2px solid #949494;
	border-bottom: 2px solid #949494;
	white-space:nowrap;
	text-align: center;
	padding-bottom: 3px;
	cursor: pointer;
	width: 154.56px;
	display: inline-block;
	&:last-child {
		border-right: 2px solid #949494;
	}
}

.arrow {
	display: inline-block;
	font-size: 12px;
	margin-left: 5px;
}

.item {
	display: inline-block;
	padding: 5px 0;
	white-space:nowrap;
	text-align: center;
	width: 156.56px;
	border-bottom: 2px solid #949494;
	text-overflow: ellipsis;
	overflow: hidden;
}

.symbol-container {
    position: absolute;
    background-color: #36393e;
    height: 31px;
    padding-left: 10px;
}

.name {
	width: 195.2px;
	margin-left: 166.55px;
}

.headers {
	width: 980px;
	margin-top: 15px;
	margin-right: 10px;
	justify-content:center;
}

.list {
	width: 980px;
	margin-right: 10px;
}

.asset {
	justify-content:center;
	width: 980px;
}

.positive {
	color: #00E676;
}

.negative {
	color: #ff333a;
}

.unwatch {
	position: absolute;
	zindex: 99;
	margin-top: 2px;
	color: white;
	height: 18px;
	width: 18px;
	padding: 3px;
	background-color: #00E676;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		border: 1px solid white;
		padding: 2px;
	}
}

.empty-watch {
	margin: 0 auto;
    width: 900px;
    margin-top: 200px;
    text-align: center;
}
